:root {
    --primary-color: rgba(29, 6, 44, 0.3);
    --secondary-color: rgba(16, 24, 36, 0.6);
    --font-color: #eee;
    --text-primary: lightcoral;
    --text-secondary: rgb(0, 255, 255);
}