* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

#body {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bg_1.jpg);
    background-size: cover;
    background-position: center;
    padding: 3px;
    overflow: hidden;
    color: var(--font-color);
    font-family: AnekBangla;
}

.wrapper {
    position: absolute;
    top: 0;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

li {
    list-style: none;
}

option {
    margin: 0 20px;
    padding: 8px 15px;
    border-bottom: 1px solid var(--secondary-color);
    cursor: pointer;
}

option:last-child {
    border: none;
}

#ar_options,
#bn_options,
#tl_options,
#in_options {
    display: none;
}

.container {
    height: calc(100% - 50px);
    display: flex;
    margin: 0 auto;
    justify-content: center;
    overflow: hidden;
}

#index,
#settings {
    position: relative;
    width: 25%;
    height: 100%;
    display: block;
    background: var(--primary-color);
    margin-right: 3px;
    border-radius: 13px;
    overflow: auto;
}

#index h2,
#settings h2 {
    display: inline-block;
    width: 100%;
    font-weight: normal;
    font-size: 1.3em;
    background: var(--primary-color);
    padding: 10px 55px;
}

#index button {
    position: absolute;
    right: 0;
    margin: 10px 20px !important;
}

#index ol {
    padding: 0 30px;
}

#index ol li {
    padding: 10px 0;
    font-size: 1.1em;
    border-bottom: 1px solid var(--secondary-color);
}

#index ol li p {
    display: inline-block;
    margin-right: 15px;
}

#index ol li:hover {
    cursor: pointer;
    color: var(--text-primary);
    transform: translateX(20px);
    transition: 0.5s ease-out;
}

#index ol li:last-child {
    border: none;
    margin-bottom: 10px;
}


/* SETTING */

#settings {
    display: none;
}

#settings h2 button {
    position: absolute;
    right: 0;
    margin: 0 20px;
}

#settings .resize {
    display: flex;
    width: 100%;
    vertical-align: middle;
}

.resize span {
    margin-right: 10px;
}

.resize input {
    width: 100%;
}

#settings h3 i {
    margin-right: 10px;
}

.settings {
    padding: 10px;
}

.card {
    display: block;
    background: var(--secondary-color);
    width: 100%;
    margin-bottom: 10px;
    border-radius: 13px;
    overflow: hidden;
}

.card .heading {
    background-color: var(--primary-color);
    padding: 10px 20px;
    cursor: pointer;
}

.heading h3 {
    display: inline;
}

.card .button {
    display: flex;
    width: 100%;
    padding: 0 20px;
    justify-content: space-between;
    align-content: space-between;
}

#tl_options i {
    margin: 0 20px;
    padding: 8px 15px;
}

#in_options {
    padding: 10px 20px;
}

#in_options i {
    margin-right: 10px;
}


/* main */

#main {
    width: 75%;
    height: 100%;
    display: block;
    overflow: auto;
    border-radius: 13px;
}

.sura {
    background: var(--primary-color);
    margin-bottom: 3px;
    overflow: hidden;
    border-radius: 13px;
}

.sura:last-child {
    margin: 0;
}

.name {
    display: block;
    background: var(--primary-color);
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}

.name h2 {
    width: 50%;
    font-weight: normal;
    font-size: 1.2em;
    background: var(--secondary-color);
    margin: 10px auto;
    padding: 10px 30px;
    border-radius: 50px;
}

.ayat span,
.a_ayat span {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ayat_num {
    width: 35px;
    height: 35px;
    background: var(--secondary-color);
    font-family: AnekBangla;
    font-weight: normal;
    font-size: 1em;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 20px;
}

.a_ayat button,
.ayat button {
    width: 35px;
    height: 35px;
    font-size: .8em;
    background: var(--secondary-color);
    border: none;
    color: var(--font-color);
    border-radius: 50%;
    margin-right: 20px;
}

.a_ayat button:hover,
.ayat button:hover {
    background-color: var(--primary-color);
}

.ayat,
.a_ayat {
    padding: 10px 30px;
    position: relative;
    font-size: 1.2em;
}

.a_ayat {
    background: var(--secondary-color);
}

.ayat:nth-child(odd) {
    background: var(--primary-color);
}

.ar {
    text-align: right;
    line-height: 1.5em;
    padding: 10px 20px;
}

.pr {
    text-align: justify;
    padding: 10px 20px;
    color: var(--text-primary);
}

.bn {
    padding: 10px 20px;
    color: var(--text-secondary);
    text-align: justify;
}


/* PLAYER */

.player {
    position: relative;
    display: flex;
    height: 45px;
    width: 100%;
    background: var(--primary-color);
    border-radius: 13px;
    margin: 0 auto;
    margin-bottom: 3px;
    overflow: hidden;
}

.logo {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
}

.logo img {
    width: 30px;
    height: 30px;
    margin: 3px 10px;
    margin-left: 40px;
}

.logo h2 {
    display: inline-block;
    color: var(--font-color);
    font-family: AnekBangla;
    font-size: 1.5em;
    padding-top: 3px;
}

.button {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#index button,
#settings button,
.player button,
.player button:active,
.player button:enabled,
.player button::after,
.player button::before {
    width: 40px;
    height: 40px;
    margin: 3px 10px;
    padding: 10px;
    border: none;
    border-radius: 40px;
    color: var(--font-color);
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    z-index: 1;
}

#index button:hover,
#settings button:hover,
.player button:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
}

#loader {
    position: absolute;
    left: 0;
    height: 45px;
    width: 0%;
    background: var(--secondary-color);
}

#hidden {
    display: none;
}

@media (max-width: 1200px) {
    #index,
    #settings {
        width: 30%;
    }
    #main {
        width: 70%;
    }
    #index button,
    #settings button {
        width: 30px;
        height: 30px;
        margin: 5px;
        padding: 5px;
    }
}

@media (max-width: 900px) {
    #index,
    #settings {
        width: 100%;
        display: none;
        margin-right: 0;
    }
    #main {
        width: 100%;
        margin: 0;
    }
    #index h2 {
        font-size: 1.2em;
    }
    #index ol {
        padding: 0 20px;
    }
    #index ol li {
        font-size: 1em;
    }
    #settings .resize {
        margin-top: 0;
    }
    .name h2 {
        font-size: 1.2em;
    }
    .ayat,
    .a_ayat {
        font-size: 1em;
    }
    .ayat_num {
        padding-top: 3px;
    }
    .logo img {
        margin-left: 20px;
    }
    .logo h2 {
        font-size: 1.3em;
    }
}

@media (max-width: 768px) {
    .name {
        padding: 10px;
    }
    .name h2 {
        width: 80%;
        padding: 5px 20px;
        font-size: 1.1em;
    }
    .ayat_num {
        width: 35px;
        height: 35px;
        padding-top: 2px;
        margin-left: 0;
    }
    .ayat,
    .a_ayat {
        padding: 10px 20px;
        font-size: 1em;
    }
    .ayat button,
    .a_ayat button {
        margin-right: 0;
    }
    .ar {
        font-size: 1.3em;
        padding: 10px;
    }
    .pr,
    .bn {
        padding: 10px;
    }
    .player button,
    .player button:hover,
    .player button:active,
    .player button:enabled,
    .player button::after,
    .player button::before {
        width: 30px;
        height: 30px;
        margin: 5px;
        padding: 5px;
    }
    .logo {
        width: 1000%;
    }
    /* .logo {
        display: none;
    } */
    .button {
        width: 100%;
        margin-right: 20px;
    }
}

@media (max-width: 540px) {
    .logo img {
        margin: 0;
        margin-left: 10px;
    }
    .logo h2 {
        display: none;
    }
    .player button,
    .player button:hover,
    .player button:active,
    .player button:enabled,
    .player button::after,
    .player button::before {
        margin: 3px;
    }
}